﻿@model MCPU.Models.UserModel

<div class="modal fade" data-backdrop="false" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="addEditModalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("Edit", "Users",
    new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess", UpdateTargetId = "partial_view_popup" },
    new { @id = "AjaxformId", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        @if (ViewBag.AllowCodeEdit)
                        {
                            @:Create User
                        }
                        else
                        {
                            @:Edit User
                        }
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = ViewBag.AllowCodeEdit ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.Initials, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Initials, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.Initials, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Department, new SelectList(ViewBag.Departments, "Code", "Name"), "-- Select --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.MenuCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.MenuCode, new SelectList(ViewBag.Menus, "Code", "Name"), "-- Select --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.MenuCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row v-center">
                        @Html.LabelFor(model => model.EditMasters, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EditMasters, new[] { new SelectListItem { Text = "Yes", Value = "1" }, new SelectListItem { Text = "No", Value = "0" } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EditMasters, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.SystemAccess, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SystemAccess, new[] { new SelectListItem { Text = "Yes", Value = "1" }, new SelectListItem { Text = "No", Value = "0" } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SystemAccess, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('#addEditModal').modal('show');
</script>
