﻿@{
    ViewBag.LoggedInUsername = ((System.Data.DataTable)Session["userObject"]).Rows[0]["USR_NAME"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MCPU Web Backoffice</title>
    <link rel="icon" type="image/png" href="~/img/iTaskManager.ico" />
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/Theme/Boostrap/bootstrap.js"></script>
    <script src="~/Theme/Boostrap/bootstrap.min.js"></script>
    <link href="~/Theme/Boostrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/Boostrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/Boostrap/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Theme/Boostrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/js/jquery-ui-1.11.4/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.3/css/colReorder.dataTables.min.css" />

    <script src="~/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colreorder/1.5.3/js/dataTables.colReorder.min.js"></script>

    <link href="~/Theme/LightGreenStyleSheet.css" rel="stylesheet" />
    <link href="~/Theme/BackOffice.css" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("/scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script>
        var MyBaseUrl_JS = '@System.Configuration.ConfigurationManager.AppSettings["MyBaseUrl"].ToString()';
        $(function () {
            // Header height + Footer Height + 10 Give and take
            $('.sideBar').height(window.innerHeight - 120);
            // 60 header + 50 Sub header + 35 Page heading + 3 Border Wrapping table +
            // 35 Group Panel + 30 Column Headers + 40 Pager + 40 Search + 40 Footer
            // + 17 give and take
            $('.dxgvCSD').height(window.innerHeight - 360);
        });
        $(window).on("resize", function () {
            // Header height + Footer Height + 10 Give and take
            $('.sideBar').height(window.innerHeight - 120);
            // 60 header + 50 Sub header + 35 Page heading + 3 Border Wrapping table +
            // 35 Group Panel + 30 Column Headers + 40 Pager + 40 Search + 40 Footer
            // + 17 give and take
            $('.dxgvCSD').height(window.innerHeight - 360);
        });

        // Global Use
        function GridOnEndCallBack(s, e) {
            $('.dxgvCSD').height(window.innerHeight - 360);
        }
    </script>
    <style type="text/css">
        .subMenu > li > a {
            font-size: 14px;
            font-weight: bold;
        }

        .mainMenu ul.extendedSubMenu {
            margin-left: 10%;
            padding-left: 3px;
        }

        .activeModule {
            font-size: 16px;
            background-color: #FFFF00;
            color: #000000 !important;
            border-bottom: 1px solid red;
        }

        li.activeLI {
            border: none !important;
        }

        .topContentBar ul li:nth-of-type(1n+7) {
            display: none;
        }

        .v-center {
            display: flex;
            align-items: center;
        }

        .no-vertical-padding {
            padding-bottom: 0;
            padding-top: 0;
        }

        .no-horizontal-padding {
            padding-left: 0;
            padding-right: 0;
        }

        .no-vertical-margin {
            margin-bottom: 0;
            margin-top: 0;
        }

        .no-horizontal-margin {
            margin-left: 0;
            margin-right: 0;
        }

        .full-height {
            height: 80vh;
            overflow-y: auto;
        }

        .take-full-height {
            min-height: 75vh;
        }

    </style>
    <script>
        $(function () {
            $('.mainMenu').on('click', '> li a', function (e) {
                if ($(e.target).parents('ul.subMenu').length == 0) {
                    $('.activeModule').removeClass('activeModule');
                    if ($(this).parent().find('ul.subMenu').length > 0) {
                        if (!$(this).parent().find('ul.subMenu').is(':visible')) {
                            $('.mainMenu li ul.subMenu').slideUp();
                            $(this).parent().find('ul.subMenu').slideToggle();
                            $(this).parent().find('ul.subMenu').parent().children('a').addClass('activeModule');
                            return false;
                        } else {
                            $(this).parent().find('ul.subMenu').slideToggle();
                            return false;
                        }
                    }
                } else {
                    $('.activeLI').removeClass('activeLI');
                    $(this).parent().addClass('activeLI');
                }
                //return false;
            });

            $('.subMenu').on('click', '> li a', function (e) {
                if ($(e.target).parents('ul.extendedSubMenu').length == 0) {
                    if ($(this).parent().find('ul.extendedSubMenu').length > 0) {
                        if (!$(this).parent().find('ul.extendedSubMenu').is(':visible')) {
                            $('.mainMenu li ul.extendedSubMenu').slideUp();
                            $(this).parent().find('ul.extendedSubMenu').slideToggle();
                        } else {
                            $(this).parent().find('ul.extendedSubMenu').slideToggle();
                        }
                    }
                } else {
                    $('.activeLI').removeClass('activeLI');
                    $(this).parent().addClass('activeLI');
                }
                //return false;
            });

            getCurrentPage();

            jQuery('ul.subMenu:visible').parent().children('a').addClass('activeModule');

            // Page Styling with JS Starts here
            //setCssWithJs();
            //$(window).resize(function (e) {
            //    setCssWithJs();
            //});
        });

        function getCurrentPage() {
            var Path = window.location.pathname;
            var originalPath = window.location.pathname;
            var onlyPage = originalPath.substr(originalPath.lastIndexOf("/") + 1);

            Path = Path.replace(/^\/|\/$/g, "");
            Path = decodeURIComponent(Path);

            jQuery(".mainMenu li ul.extendedSubMenu li").each(function (k, v) {
                var sublist = $(v);
                var href = $(sublist).find('a').attr('href');
                //if (href == Path.substring(0, href.length) || href == originalPath || href == onlyPage) {
                if (href == originalPath || href == originalPath + ".aspx") {
                    $(v).parent().show();
                    $(v).parent().parent().show();
                    $(v).parent().parent().parent().show();
                    $(v).addClass('activeLI');
                }
            });
        }

        var onSuccess = function (result) {
            if (result.url) {
                // if the server returned a JSON object containing an url
                // property we redirect the browser to that url
                window.location.href = result.url;
            }
        }
    </script>

    @RenderSection("headContent", false)
</head>
<body>
    <div class="PageDiv clearfix">
        <!-- header starts here -->
        <div class="header">
            <hr />
            <div class="headerLogo">
                <h2>
                    <span>
                        <a href="/">
                            <img src="~/img/forsan-trans.png" />
                            Forsan - iMCPU Web
                        </a>
                    </span>
                </h2>
            </div>
            <div class="headerUser">
                @if (Session["isLoggedIn"] != null)
                {
                    <span>
                        Hello!   @ViewBag.LoggedInUsername
                    </span>
                    <span>
                        <img src="~/img/icons/user.png" />
                    </span>
                    <a style="color: wheat;" href="~/Login/Logout">Logout</a>

                }
                else
                {
                    <span>
                        <img src="~/img/icons/user.png" />
                    </span>
                    <a style="color: wheat;" href="~/Login/">Login</a>
                }

            </div>
            <hr />
        </div>
        <div class="wrapper">
            <!-- header sidebar here -->
            <div class="sideBar" style="border-bottom: 1px solid;">
                <div class="sideBarHeader">
                    <p>
                        <span style="font-weight: bold;">Last Login:</span>
                        <span style="font-weight: normal;">@Session["userLastLogin"]</span>
                    </p>
                </div>
                <ul class="mainMenu" id="topMenuList">
                    @{
                        foreach (var top in (Dictionary<System.Data.DataRow, Dictionary<System.Data.DataRow, List<System.Data.DataRow>>>)ViewData["MenuData"])
                        {
                            <li>
                                <a href="#">
                                    @{
                                        if (top.Key["PAG_ICON"] != null && top.Key["PAG_ICON"].ToString().Length > 0)
                                        {
                                            <img src="~/img/@top.Key["PAG_ICON"].ToString()" />
                                        }
                                        else
                                        {
                                            <img src="~/img/IMG_IDX/45-SYS_LOG.PNG" />
                                        }
                                    }

                                    <span>@top.Key["MNA_PGNAM"]</span>
                                </a>
                                <ul class="subMenu" id="subMenuList">
                                    @{
                                        foreach (var grp in (Dictionary<System.Data.DataRow, List<System.Data.DataRow>>)top.Value)
                                        {
                                            <li style="border-bottom: 1px solid #6e6e6e;">
                                                @{
                                                    if (grp.Key["PAG_URL"] != null && grp.Key["PAG_ICON"].ToString().Length > 0)
                                                    {
                                                        <a style="padding-left: 5px;" href="~/Admin/@top.Key["PAG_URL"].ToString()">
                                                            <span>@grp.Key["MNA_PGNAM"]<span class="fa fa-angle-double-down" style="float: right; margin-right: 10px;"></span></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="padding-left: 5px;" href="javascript:void(0);">
                                                            <span>@grp.Key["MNA_PGNAM"]<span class="fa fa-angle-double-down" style="float: right; margin-right: 10px;"></span></span>
                                                        </a>
                                                    }
                                                }


                                                <ul class="extendedSubMenu" id="pagMenuList">
                                                    @{
                                                        foreach (var pag in (List<System.Data.DataRow>)grp.Value)
                                                        {
                                                            <li>
                                                                <a href="~/Admin/@pag["PAG_URL"].ToString()">
                                                                    <span>@pag["MNA_PGNAM"]</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>

                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- header Content here -->
            <div class="Content">

                <div class="mainContent">
                    @RenderBody()
                </div>
            </div>
        </div>



        <!-- header footer here -->
        <div class="footer">
            <div class="bottomMenu">
                <div class="bottomMenuFirst">
                    @if (Session["isLoggedIn"] != null && (bool)Session["isLoggedIn"] == true)
                    {
                        <p> Company Status: Connected</p>
                    }
                    else
                    {
                        <p> Company Status: Not Connected</p>
                    }
                </div>
                <div class="bottomMenuSecond">
                    @if (Session["isLoggedIn"] != null && (bool)Session["isLoggedIn"] == true)
                    {
                        <p>User: @Session["UserId"].ToString().ToUpper()</p>

                    }
                    else
                    {
                        <p>User: Guest</p>
                    }
                </div>
            </div>
            <div style="float: left; width: 100%; background: #3e3e3e;">
                <span>
                    &copy; Copyrights
                    <img src="~/img/itask/Barcode2_32x32.png" />
                    Forsan Foods & Consumer Products
                </span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.renderaction', function (e) {
                var $this = $(this);
                var url = $this.attr('data-actionurl');
                $.get(url, function (data) {
                    $('#partial_view_popup').html(data);
                });
            });

            /*$.ajaxSetup({
                beforeSend: function (e) {
                    $('#errors_container').html('');
                }
            });*/
        });
    </script>

    @RenderSection("footerContent", false)
</body>
</html>
