﻿.form_sub_panel {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.FormPopup tr td {
    padding-bottom: 8px;
}

.order_status_label {
    width: 100%;
    font-size: 15px !important;
    color: black !important;
    display: block !important;
    padding: 10px 0px !important;
}

.customer_status_label {
    width: 100%;
    font-size: 15px !important;
    color: black !important;
    display: block !important;
    padding: 10px 0px !important;
}

.dxbButton_Office2010Black div.dxb {
    padding: 0px;
}

.btn-danger-variant {
    background: red !important;
}

    .btn-danger-variant:hover {
        background-color: #c12e2a !important;
    }

.btn-info-variant {
    background: deepskyblue !important;
}

    .btn-info-variant:hover {
        background-color: #2aabd2 !important;
    }

.label-rejected {
    background-color: red;
}

.label-pending {
    /*background-color: black;*/
    /*background-color: #FDDC7F;*/
    background-color: #FFFF00;
}

.label-approved {
    background-color: deepskyblue;
}

.label-queue {
    background-color: yellowgreen;
}

.label-readyfrpickup {
    background-color: mediumturquoise;
}

.label-pickedup {
    background-color: darkcyan;
}

.label-inkitchen {
    background-color: tomato;
}

.label-readytodeliver {
    background-color: #eb9316;
    /*background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);*/
}

.label-delivered {
    background-color: orangered;
}

.label-ontheway {
    background-color: #5cb85c;
}

.label-onhold {
    background-color: darkred;
}

.white-clr {
    color: white !important;
}


/***********************************************************/
#loading-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    background: url('../img/loading.gif') no-repeat center top;
    background-color: #ffffff;
    width: 100%;
    height: 2500px;
}

.modal-title {
    display: inline-block;
}

/* MVC Styles */
.table-fgv {
    background: white;
}

    .table-fgv thead {
        background: black;
        color: white;
    }
    .table-fgv thead th {
        border: 0px !important;
    }