﻿@model IEnumerable<MCPU.Models.MenuItemModel>

@{
    ViewBag.Title = "MenuItems";
    Layout = "~/Views/Shared/_SiteAdmin.cshtml";
}


<div class="topContentBar">
    <ul>
        <li>
            <asp:LinkButton ID="LinkBtnPDF" OnClick="LinkBtnPDF_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXLX" OnClick="LinkButtonXLX_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXxls" OnClick="LinkButtonXxls_Click" runat="server">
                <img src="~/img/FilesIcons/xlsx.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonRtf" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/rtf.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonCvs" OnClick="LinkButtonCvs_Click" runat="server">
                <img src="~/img/FilesIcons/cvs.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonWord" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>

        <li>
            <asp:LinkButton ID="LinkButtonHtml" OnClick="LinkButtonHtml_Click" runat="server">
                <img src="~/img/icons/searchtop.jpg" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton6" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton7" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton8" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton9" OnClick="LinkButton3_Click" OnClientClick="window.print();" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton10" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/torrent.png" />
            </asp:LinkButton>
        </li>
    </ul>
</div>

<div class="formDiv">
    <div class="formHeaderDiv">
        <h3 style="padding: 5px;">Menu Page Master</h3>
    </div>
</div>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-12">
            @if (TempData.ContainsKey("msg"))
            {
                <div class="col-md-12">
                    <div class="alert @(((Dictionary<string, string>)TempData["msg"]).Keys.First().ToString())">
                        @(((Dictionary<string, string>)TempData["msg"]).Values.First().ToString())
                    </div>
                </div>
            }
        </div>
        <div class="col-md-12">
            <table id="tbl_mnupgs" class="table table-striped table-hover table-frsn-listing nowrap">
                <thead>
                    <tr>
                        <th width="20%">@Html.DisplayNameFor(model => model.Code)</th>
                        <th width="20%">@Html.DisplayNameFor(model => model.SeqNo)</th>
                        <th width="50%">@Html.DisplayNameFor(model => model.Name)</th>
                        <th width="50%">@Html.DisplayNameFor(model => model.Url)</th>
                        <th width="50%">@Html.DisplayNameFor(model => model.Parent)</th>
                        <th width="50%">@Html.DisplayNameFor(model => model.Type)</th>
                        <th width="30%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.SeqNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Url)</td>
                            <td>@Html.DisplayFor(modelItem => item.Parent)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>
                                <button id="btn-@i" class="btn btn-sm btn-warning renderaction"
                                        data-actionurl="@Url.Action("Edit", "MenuItems", new { code=item.Code })">
                                    <span class="glyphicon glyphicon-edit"></span>Edit
                                </button>
                                <button class="btn btn-sm btn-danger"
                                        data-backdrop="false" data-toggle="modal" data-target="#deleteModal" data-dismiss="modal"
                                        data-mnupgcode="@Html.DisplayFor(modelItem => item.Code)">
                                    <span class="glyphicon glyphicon-edit"></span>Delete
                                </button>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary renderaction" data-actionurl="@Url.Action("Create", "MenuItems")">Create New</button>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        @using (Html.BeginForm("Delete", "MenuItems"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete MenuItem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="mnupg_code" name="mnupg_code">
                    <div class="form-group">
                        <label for="mnupg_code" class="col-form-label">Are you sure to delete record?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="partial_view_popup">

</div>

<script type="text/javascript">
    $(function () {
        $('#tbl_mnupgs').DataTable({
            "scrollX": true,
            "colReorder": true
        });
        @{
            if (!ViewData.ModelState.IsValid)
            {
                @:$('.validation-summary-errors').addClass('alert alert-danger');
            }
        }
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var code = button.data('mnupgcode');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-body #mnupg_code').val(code);
    });
</script>

