﻿@{
    ViewBag.Title = "Skewering Process";
    Layout = "~/Views/Shared/_SiteAdmin.cshtml";
}

@section headContent {
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">

    <!-- JS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
}

<div class="topContentBar">
    <ul>
        <li>
            <asp:LinkButton ID="LinkBtnPDF" OnClick="LinkBtnPDF_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXLX" OnClick="LinkButtonXLX_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXxls" OnClick="LinkButtonXxls_Click" runat="server">
                <img src="~/img/FilesIcons/xlsx.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonRtf" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/rtf.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonCvs" OnClick="LinkButtonCvs_Click" runat="server">
                <img src="~/img/FilesIcons/cvs.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonWord" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>

        <li>
            <asp:LinkButton ID="LinkButtonHtml" OnClick="LinkButtonHtml_Click" runat="server">
                <img src="~/img/icons/searchtop.jpg" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton6" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton7" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton8" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton9" OnClick="LinkButton3_Click" OnClientClick="window.print();" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton10" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/torrent.png" />
            </asp:LinkButton>
        </li>
    </ul>
</div>

<div class="formDiv">
    <div class="formHeaderDiv">
        <h3 style="padding: 5px;">Skewering Process</h3>
    </div>
</div>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-12" id="errors_container">
            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert @(((Dictionary<string, string>)TempData["msg"]).Keys.First().ToString())">
                    @(((Dictionary<string, string>)TempData["msg"]).Values.First().ToString())
                </div>
            }
            @if (TempData.ContainsKey("lblErrorMessage"))
            {
                <div class="alert @(((Dictionary<string, string>)TempData["lblErrorMessage"]).Keys.First().ToString())">
                    @(((Dictionary<string, string>)TempData["lblErrorMessage"]).Values.First().ToString())
                </div>
            }
        </div>
    </div>


    @* Page Content *@
    <div class="row take-full-height">
        <div class="col-md-12">
            <fieldset style="background: #FFFF00; padding: 10px;">
                <legend style="float: left; margin: 0 0 10px 0;">Product Details</legend>

                <div class="row">
                    <div class="col-md-2 form-group"><strong>Product Code : </strong></div>
                    <div class="col-md-2 form-group">@Html.DropDownList("prod_cd", (IEnumerable<SelectListItem>)ViewBag.PRDCTS, "-- Select --", new { id = "prod_cd", @class = "form-control chosen-select" })</div>
                    <div class="col-md-1 form-group"><strong>Desc 1 : </strong></div>
                    <div class="col-md-2 form-group"><small><span id="lblProdDesc1">-</span></small></div>
                    <div class="col-md-1 form-group"><strong>Desc 2 : </strong></div>
                    <div class="col-md-2 form-group"><small><span id="lblProdDesc2">-</span></small></div>
                    <div class="col-md-1 form-group"><strong>UoM : </strong></div>
                    <div class="col-md-1 form-group"><small><span id="lblProdUom">-</span></small></div>
                </div>
            </fieldset>

        </div>
        <div class="col-md-12">
            <fieldset style="background: #d7d7d7; padding: 10px;">
                <legend style="float: left; margin: 0 0 10px 0;">Skewering Processes</legend>

                <table id="tbl_processes" class="table table-bordered table-responsive table-condensed table-striped table-fgv">
                    <thead>
                        <tr>
                            <th>Process ID</th>
                            <th>Process #</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Total RM Wt.</th>
                            <th>Week</th>
                            <th>Entered By</th>
                            <th>Entered On</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
    </div>

</div>

@section footerContent {
    <script type="text/javascript">
        var tbl_processes = null;
        $(function () {
            $(".chosen-select").chosen({ disable_search_threshold: 10, search_contains: true });

            $('#prod_cd').change(function (e) {
                $('#tbl_processes tbody').html('');
                $('#lblProdDesc1').text('-');
                $('#lblProdDesc2').text('-');
                $('#lblProdUom').text('-');

                var $this = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetOpenProcessesByProd", "Skewering")',
                    data: "code=" + $this.val(),
                    dataType: "json",
                    success: function (json) {
                        if (json.success) {
                            var prod_info = JSON.parse(json.data);
                            var processes_list = JSON.parse(json.processes);
                            if (prod_info.length == 1) {
                                $('#lblProdDesc1').text(prod_info[0].PRO_DESC1);
                                $('#lblProdDesc2').text(prod_info[0].PRO_DESC2);
                                $('#lblProdUom').text(prod_info[0].PRO_UOM);

                                var processesHtml = '';
                                $.each(processes_list, function (ky, vl) {
                                    processesHtml += '<tr>';
                                    processesHtml += '<td>' + vl.SPH_ID + '</td>';
                                    processesHtml += '<td>' + vl.SPH_BCHNO + '</td>';
                                    processesHtml += '<td>' + vl.SPH_SDATE + '</td>';
                                    processesHtml += '<td>' + vl.SPH_STIME + '</td>';
                                    processesHtml += '<td>' + vl.SPH_WTKGS + '</td>';
                                    processesHtml += '<td>' + vl.SPH_WEEK + '</td>';
                                    processesHtml += '<td>' + vl.SPH_ENTBY + '</td>';
                                    processesHtml += '<td>' + vl.SPH_ENTDT + '</td>';
                                    processesHtml += '<td><a class="btn btn-sm btn-warning" href="@Url.Action("Process", "Skewering")?prod=' + vl.SPH_PROCD + '&prcs=' + vl.SPH_ID + '">View & Edit</a></td>';
                                    processesHtml += '</tr>';
                                });
                                if (tbl_processes != null) {
                                    tbl_processes.destroy();
                                }
                                $('#tbl_processes tbody').html(processesHtml);
                                tbl_processes = $('#tbl_processes').DataTable({
                                    "columnDefs": [{
                                        "targets": 2,
                                        "data": "date",
                                        "render": function (data, type, row, meta) {
                                            try {
                                                var date = new Date(data);
                                                var millisecond = Date.parse(data);
                                                const formattedDate = date.toLocaleDateString('en-GB', {
                                                    day: '2-digit', month: 'short', year: 'numeric'
                                                }).replace(/ /g, '-');
                                                return '<td><span style="display: none;">' + millisecond + '</span>' + formattedDate + '</td>';
                                            } catch (e) {
                                                return data;
                                            }
                                        }
                                    }]
                                });
                            }
                        }
                    },
                    error: function (e, r, r) {
                        console.log(e, r, r);
                    }
                });
            });
        });

    </script>
}

