﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="overlay">
    <div class="PageDiv clearfix">
        <!-- header starts here -->
        <div class="wrapper clearfix">
            <!-- header sidebar here -->
            <!-- header Content here -->
            <div class="Content" style="text-align: center; margin: 0px auto; overflow: hidden">
                <div class="mainContent">
                    <div class="overlay loginoverlay">
                        <div>
                            <div class="FormLogin">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="~/img/forsan.jpg" width="180" height="300" />
                                        </td>
                                        <td>
                                            <fieldset>

                                                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                                                {
                                                    <table>
                                                        <tr>
                                                            <td colspan="2" style="text-align: center; padding-bottom: 20px;">
                                                                <h2><strong>iMCPU Web</strong></h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @if (ViewBag.ErrMsg != null)
                                                                {
                                                                    <div style="padding: 3px 5px;" class="alert alert-danger">@ViewBag.ErrMsg</div>
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Username</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="DivReq">
                                                                    <input type="text" name="username" id="txtUserName" value="ADMIN" placeholder="Username" tabindex="1" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Password</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="DivReq">
                                                                    <input type="password" name="password" id="txtPassword" value="frs@pms" placeholder="Password" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr style="color: skyblue" />
                                                    <div class="LoginBtnWrapper">
                                                        <input type="submit" name="Login" value="Login" class="btnPopup btn btn-success" id="btn_Login" />
                                                    </div>
                                                }
                                            </fieldset>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header footer here -->
    </div>
    <p>
        <a href="mailto:support@forsan.com.sa">Contact Admin</a> if you don't have an account.
    </p>
</div>