﻿@model IEnumerable<MCPU.Models.MenuModel>

@{
    ViewBag.Title = "Menus";
    Layout = "~/Views/Shared/_SiteAdmin.cshtml";
}

@section headContent {
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/icon.css">
    <script type="text/javascript" src="~/Scripts/easyui/jquery.easyui.min.js"></script>
}


<div class="topContentBar">
    <ul>
        <li>
            <asp:LinkButton ID="LinkBtnPDF" OnClick="LinkBtnPDF_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXLX" OnClick="LinkButtonXLX_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonXxls" OnClick="LinkButtonXxls_Click" runat="server">
                <img src="~/img/FilesIcons/xlsx.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonRtf" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/rtf.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonCvs" OnClick="LinkButtonCvs_Click" runat="server">
                <img src="~/img/FilesIcons/cvs.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButtonWord" OnClick="LinkButtonRtf_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>

        <li>
            <asp:LinkButton ID="LinkButtonHtml" OnClick="LinkButtonHtml_Click" runat="server">
                <img src="~/img/icons/searchtop.jpg" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton6" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton7" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/word.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton8" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/excel.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton9" OnClick="LinkButton3_Click" OnClientClick="window.print();" runat="server">
                <img src="~/img/FilesIcons/acrobat.png" />
            </asp:LinkButton>
        </li>
        <li>
            <asp:LinkButton ID="LinkButton10" OnClick="LinkButton3_Click" runat="server">
                <img src="~/img/FilesIcons/torrent.png" />
            </asp:LinkButton>
        </li>
    </ul>
</div>

<div class="formDiv">
    <div class="formHeaderDiv">
        <h3 style="padding: 5px;">Create Menu</h3>
    </div>
</div>
<div class="container-fluid">
    @if (TempData.ContainsKey("msg"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert @(((Dictionary<string, string>)TempData["msg"]).Keys.First().ToString())">
                    @(((Dictionary<string, string>)TempData["msg"]).Values.First().ToString())
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Save", "Menus", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row" style="background-color: #A6E3E3; padding-top: 15px;">
            <fieldset style="width: 50%; margin: 0 auto; text-align: center;">
                <div class="form-group row v-center">
                    <label for="menu_code" class="control-label col-md-offset-1 col-md-1" style="margin-bottom: 0;">Code</label>
                    <div class="col-md-3">
                        <select name="menu_code" id="menu_code" class="form-control">
                            <option value="">-- Select --</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Code">@item.Code</option>
                            }
                        </select>
                    </div>
                    <label for="menu_name" class="control-label col-md-1" style="margin-bottom: 0;">Name</label>
                    <div class="col-md-4">
                        <input type="text" readonly="readonly" id="menu_name" name="menu_name" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-success" style="width: 15%; margin: auto 2% 10px;" onclick="getChecked();" />
                    <input type="reset" value="Clear" class="btn btn-warning" style="width: 15%; margin: auto 2% 10px;" />
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <h3>Pages</h3>
                    <input type="hidden" name="menu_pages"
                           value=""
                           id="chkd_page_ids" />
                    <ul id="tt" class="easyui-tree"
                        data-options="animate:true,checkbox:true,cascadeCheck:true"></ul>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        @using (Html.BeginForm("Delete", "Menus"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="menu_code" name="menu_code">
                    <div class="form-group">
                        <label for="menu-code" class="col-form-label">Are you sure to delete record?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="partial_view_popup">

</div>


@section footerContent {


    <script type="text/javascript">
        $(function () {
            @{
                if (!ViewData.ModelState.IsValid)
                {
                    @:$('.validation-summary-errors').addClass('alert alert-danger');
                    @:$('#addEditModal').modal({ show: true, backdrop: false });
                }
            }

            $('#menu_code').on('change', function (e) {
                $this = $(this);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MenuCodeSelectionChanged", "Menus")',
                    data: "code=" + $this.val(),
                    dataType: "json",
                    success: function (json) {
                        if (json.success) {
                            $('#menu_name').val(json.data.Name);
                            // var treeData = JSON.parse();
                            $('#tt').tree('loadData', json.TreeInfo);
                        }
                    },
                    error: function (e, r, r) {
                        console.log(e, r, r);
                    }
                });
            });
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var code = button.data('menucode');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body #menu_code').val(code);
        });

        function getChecked() {
            var nodes = $('#tt').find('.tree-checkbox');
            if (nodes.length > 0) {
                var s = '';
                for (var i = 0; i < nodes.length; i++) {
                    if (jQuery(nodes[i]).hasClass('tree-checkbox1') || jQuery(nodes[i]).hasClass('tree-checkbox2')) {
                        if (s != '') {
                            s += ',';
                        }
                        s += jQuery(nodes[i]).siblings('.tree-title').find('span').text();
                    }
                }
                jQuery('#chkd_page_ids').val(s);
            }
        }
    </script>
}